<footer>
    <div>
        <div class="secondaryFooter row">
            <section class="col-sm-12 ">
                <h1 class="col-md-4">The Myaamia Center</h1>
                <div class="tabsForAllSizes oneTab ">
                    <div class="tabsContent col-sm-12">
                        
                        <article id="55e0e1e1ac1e00c969ba9de265ad8e45-1">
                            <img alt="" class="secondaryFooterThumbnail col-sm-2" src="//miamioh.edu/_files/images/miami-tribe-relations/bonham-house-380x320.jpg" />                                                                                                        <div class="additionalContent col-sm-5">
                                
                                <p>Deepening Myaamia connections through research, education, and outreach.</p>
                                <p>351 E Spring St<br /> 200 Bonham House<br /> Miami University<br /> Oxford, OH 45056</p>
                                <p>(513) 529-5648 (Phone)<br /> (513) 529-9234 (Fax)</p>
                            </div>
                            <div class="additionalContent col-sm-5">
                                
                                <div>
                                    <div style="float: left; width: 25%;"><a class="leftImage" href="https://www.facebook.com/MyaamiaCenter/" type="image"><img alt="Myaamia Center Facebook" class="footerSocialMediaIcons" height="50" src="//miamioh.edu/stylesheets/images/icons/facebook-color.png" width="50" /></a></div>
                                    <div style="float: left; width: 25%;"><a class="leftImage" href="https://twitter.com/myaamiacenter" type="image"><img alt="Myaamia Center Twitter" class="footerSocialMediaIcons" height="48" src="//miamioh.edu/stylesheets/images/icons/twitter-color.png" width="60" /></a></div>
                                </div>
                                <hr class="dotted" />
                                <p style="clear: both; font-size: 125%;">Popular Destinations</p>
                                <ul class="arrowBullets">
                                    <li><a href="https://miamination.com/">Miami Tribe of Oklahoma</a></li>
                                    <li><a href="//miamioh.edu/miami-tribe-relations/index.html">Miami Tribe Relations</a></li>
                                    <li><a href="//miamioh.edu/diversity-inclusion/index.html">Diversity and Inclusion</a></li>
                                </ul>
                            </div>
                        </article>
                    </div>
                </div>
                
            </section>
            <div class="clearfix"> </div>
        </div></div>
        <div class="tertiaryFooter row">
            <div class="copyright col-sm-12">
                &#169;2019 Miami University. All rights reserved.
            </div>
            <ul class="primaryLinks col-sm-8 col-xs-12">
                <li><a class="icon-arrow-box" href="https://blogs.miamioh.edu/miamipolicies/?p=145" target="_parent">Equal Opportunity</a></li>
                <li><a class="icon-arrow-box" href="https://miamioh.edu/about-miami/pubs-policies/consumer-info/index.html" target="_parent">Family Consumer Information</a></li>
                <li><a class="icon-arrow-box" href="https://miamioh.edu/it-services/accessmu/access-form/index.html" target="_parent">Report an Accessibility Issue</a></li>
                <li><a class="icon-arrow-box" href="https://miamioh.edu/campus-safety/annual-report/index.html" target="_parent">Annual Security and Fire Safety Report</a></li>
                <li><a class="icon-arrow-box" href="//miamioh.edu/includes/problem/index.html" target="_blank">Report a Problem With This Website</a></li>
                <li><a class="icon-arrow-box" href="https://miamioh.edu/about-miami/pubs-policies/privacy-statement/index.html" target="_parent">Privacy Statement</a></li>
            </ul>
            <ul class="secondaryLinks col-sm-4 col-xs-12">
                <li><a class="icon-arrow-box" href="https://miamioh.edu/jobs" target="_parent">Jobs and Careers at Miami</a></li>
                <li><a class="icon-arrow-box" href="https://miamioh.edu/a-to-z/index.html" target="_parent">A to Z Listing</a></li>
            </ul>
            <div class="clearfix"> </div>
        </div>
    </footer>