<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Geocache</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://miamioh.edu/stylesheets/universal.css?v=201904231530" type="text/css">    
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <div class="container">                                 
        <% include partials/header %>
        <div class="clearfix"></div>
        <main>
            <header>
                <h1 class="col-sm-12" style="text-align: center;">Geocache Instructions</h1>
            </header>
            <section class="colPrimary col-xs-12">
                <div class="content removepadding col-sm-12">
                    <div class="contentRow row">
                        <div class="col-md-2"></div>
                        <section class="col-md-8 defaultSlotStyle">
                            <ol style="font-size: 1.3em;">
                                <li><p>Download the geocaching app:</p>
                                    <p>
                                        <a id="apple-itunes-app" class="" href="https://itunes.apple.com/app/apple-store/id329541503?pt=61076&amp;ct=Q1-2018-update-logged-out-home-page&amp;mt=8" data-event-category="data" data-event-action="Click" data-event-label="Apple App Store">
                                            <img alt="Download on the App Store" src="https://www.geocaching.com/play/app/ui-images/components/app-store-list/badge-apple.svg" height="40" width="135">
                                        </a>                           
                                        <a id="google-play-app" class="appstore-google outbound-link" href="https://play.google.com/store/apps/details?id=com.groundspeak.geocaching.intro&amp;referrer=utm_source%3Dgeocaching-website%26utm_campaign%3DQ1-2018-update-logged-out-home-page" data-event-category="data" data-event-action="Click" data-event-label="Android App Store">
                                            <img alt="Get it on Google Play" src="https://www.geocaching.com/play/app/ui-images/components/app-store-list/badge-google-play.png" height="40" width="135">
                                        </a>
                                    </p>
                                </li>
                                <li><p>Create a geocaching account in the app (Either Connect with Facebook or Sign up with an email)</p></li>
                                <li><p>On the map go to the corner of East Withrow Street and N Patterson Avenue to find our Earthcache (the logo will look like the one below)</p>
                                    <img src="https://memfismafia.files.wordpress.com/2014/11/earthcache2.gif" alt="EarthCache Logo" height="50px">
                                </li>
                                <li><p>Click on the Earthcache read the description and follow our waypoints! Have Fun!</p></li>
                                <li><p>Log the geocache writing about your experience and post some pictures!</p></li>
                            </ol>
                        </section>
                    </div>
                </div>
            </section>
        </main>
        <% include partials/footer %>
    </div>
    <script src="/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>